doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Phaseboard
  body
    .header
      h1 Phaseboard
    
    p.
      This is a Jade template that is being styled by
      Stylus on a Node server.
    
    .main-content
      block content